body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

form {
    width: 400px;
    max-width: 400px;
}

.alert {
    width: 400px;
    max-width: 400px;
}

img{
    width : 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}
.slider {
    z-index: 9;
    width: 500px;
    height: 290px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider ul {
    width: 9999px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 500px;
    height: 290px;
}
.slider .nav {
    position: absolute;
    left: 205px;
    bottom: 12px;
}
.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
    background: #2e9419;
}